

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

body {
    font-family: 'Lexend Mega', san-serif;
   
    background-color: black;
    color:#b9c50b;
}


h1{
    font-size: 50px;
}

h1, h2, th {
    text-transform: uppercase;
    font-weight: bold;
    
}
img{
   max-width:50%;

   
    
}
ul{
    list-style-type: none;
}
li{
    padding-top: 10px;
    
}

th{
width:50%;
text-align:left;
color:#63b6b6;

}
table{
    margin-bottom: 100px;
}

a:link{
    color:rgb(99, 182, 182);

}
a:hover{
    color:white;
}
a:visited{
    color:#b9c50b;

}



.quote_bold{
    font-weight:700;
    color:#63b6b6;
}
section{
    margin-top:100px;
    margin-bottom:100px;
    background-color:rgb(2, 74, 141);
    padding:40px;
    display:block;
    border-radius: 10px;
  
}


header{
    text-align: center;
}

