* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

#main-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 50px;
    grid-template-areas:  
    "student student picture"
    "student-quote student-quote picture"
    "student-profile student-profile contact"
    "experience experience experience"
    "footer footer footer";
    align-items:center;
    

}

#experience-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 50px;
    grid-area:experience;
    grid-template-areas:
    "experience-1 experience-1"
    "experience-2 experience-2"
    "experience-3 experience-4"
}
h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
    grid-area:student;

}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
 
  
}

div#student-picture{
    grid-area:picture;
    text-align:center;
}
div#student-quote{
    grid-area:student-quote;

    
}
div#student-profile{
    grid-area:student-profile;
}
div#student-contact{
grid-area: contact;
text-align:center;

}

div#experience-code{
    grid-area:experience-1;
}

div#experience-database{
    grid-area:experience-2;
}
div#experience-web{
    grid-area: experience-3;
}
div#experience-design{
    grid-area: experience-4;
}

@media screen and (max-width:1024px){
    
    #main-grid{
        grid-template-columns:1fr 1fr;
        grid-gap: 35px;
        grid-template-areas:
        "student student"
        "student-quote picture"
        "student-quote contact"
        "student-profile student-profile"
        "experience experience"
        "footer footer"


    }
  


    #experience-grid{
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        grid-template-areas:
        "experience-1 experience-2"
        "experience-3 experience-4";

    }
}

    @media screen and (max-width:450px){

        #main-grid{
        grid-template-columns:100%;
        justify-items:center;
        grid-gap:10px;
        grid-template-areas:
        "student"
        "picture"
        "contact"
        "student-quote"
        "student-profile"
        "experience"
        "footer"
        }


    
    #experience-grid{
        grid-template-columns:1fr;
        grid-template-areas:
        "experience-1"
        "experience-2"
        "experience-3"
        "experience-4"
       

    }
}


   



